* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body,
input,
button,
textarea {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.next_image {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #29292e;
    color: #f8f8f8;
  }
}
